*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif
}
.div{position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 300px,;
    box-sizing: border-box;
    background: rgba(233, 5, 24, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}
.img{
    margin: 10px auto 0;
    text-align: center;
    padding:20px;
    color: rgb(255, 255, 255);
    background:red;  
    box-shadow: 130px;

}
.carousel-inner img {
    width: 100%;
    height: 50vh;

  }
  .aboutimg{
      width: 100%;
      height: 500px !important;
  }
